<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="box">
    <div class="box_center">
        <div class="box_center_b">
            <ul>
                <li><a th:href="@{/}">首页</a> </li>
                <div th:if="${#httpServletRequest.session.getAttribute('user')} eq null">
                    <li><a th:href="@{/login}">登录</a> </li>
                    <li><a th:href="@{/register}">注册</a> </li>
                </div>
                <div th:if="${#httpServletRequest.session.getAttribute('user')} ne null">
                    <li><a th:href="@{/logout}">登出</a> </li>
                </div>
                <li><a th:href="@{/shopping}">购物车</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="boo">
    <div class="register">
        <p>-----------------欢迎登陆---------------------</p>
        <h4 style="color: crimson; font-size: 14px; margin-top: 50px">
        </h4>

        <form th:action="@{/register}" accept-charset="utf-8" method="post">
            <div>
                <label>用户名</label><input type="text" class="text" id="userName"
                                             placeholder="用户名" name="userName" required tabindex="1">
            </div>
            <div>
                <label>密    码</label><input type="password"
                                            class="text" id="password" placeholder="密码" required name="password"
                                            tabindex="2"><br>
            </div>
            <br>
            <div>
                <span>已有账号？去<a th:href="@{/login}">登录</a></span>
                <button type="reset" value="重置" id="reset">重置</button>
                <button type="submit" value="注册" id="login">注册</button>
            </div>
        </form>

    </div>
</div>
</body>
</html>