<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.webapp.bookstore.dao.CartMapper">
    <select id="findCartById" resultType="cn.webapp.bookstore.vo.CartVo"
            parameterType="int">
        select b.bookName, b.price, b.picture, t.quantity, u.userId
        from orderItem t
        left join orders o on t.orderId = o.orderId
        left join book b on b.bookId = t.bookId
        left join user u on u.userId = o.userId
        where u.userId = #{userId}
    </select>

    <insert id="addOrders" parameterType="cn.webapp.bookstore.model.OrderModel">
        <selectKey keyProperty="orderId" order="AFTER" resultType="int">
            select LAST_INSERT_ID()
        </selectKey>
        insert into orders values (NULL, #{userId}, #{orderData})
    </insert>

    <insert id="addOrderItem" parameterType="cn.webapp.bookstore.model.OrderItemModel">
        insert into orderItem values (NULL, #{bookId}, #{orderId}, #{quantity})
    </insert>
</mapper>